<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="Utils.Listeners"/>
</listeners>

   <test thread-count="5" name="SignIn Test">
    <classes>
      <class name="YiraHealth.Test.SignInTest"/>
    </classes>
    </test> <!--Test -->
  
  <!-- <test thread-count="5" name="Test">
    <classes>
      <class name="YiraHealth.Test.MyPrescriptionTest"/>
       <class name="YiraHealth.Test.MyMedicinesTest"/>
    </classes>
  </test>  Test -->
  
  <!-- <test thread-count="5" name="MyMedicines Test">
    <classes>
      <class name="YiraHealth.Test.MyMedicinesTest"/>
    </classes>
    </test> Test -->
    
    
    
</suite> <!-- Suite -->
